<template>
    <section id="home" class="section welcome-area homepage-individual overlay-dark overflow-hidden d-flex align-items-center">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Welcome Intro Start -->
                    <div class="col-12 col-md-7 col-lg-6">
                        <div class="welcome-intro welcome-intro-block">
                            <h1 class="text-white">Data-Driven Financial Health</h1>
                            <h3 class="text-white my-4 subtext">Lodestar's unique combination of fiduciary advisory & investment management services raises the bar in Financial Health.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    
}
</script>

<style>

</style>