<template>
    <header class="navbar navbar-sticky navbar-expand-lg navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand navbar-corporate" href="/">
                    <img class="navbar-brand-regular" src="assets/img/ls-logo-white-corporate.svg" alt="brand-logo">
                    <img class="navbar-brand-sticky" src="assets/img/ls-logo-color-corporate.svg" alt="sticky brand-logo">
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-inner">
                    <!--  Mobile Menu Toggler -->
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <nav>
                        <ul class="navbar-nav" id="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Audience
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="/theme-individual">Individual</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/theme-corporate">Corporate</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="#processindividual">Process</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="#servicescorporate">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="#clientsindividual">Clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="#aboutus">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="#connect">Connect</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
</template>

<script>
export default {
    
}
</script>

<style>

</style>