<template>
    <header class="navbar navbar-sticky navbar-expand-lg">
            <div class="container position-relative">
                <a class="navbar-brand" href="/">
                    <img class="navbar-brand-regular" src="assets/img/ls-logo-color.svg" alt="brand-logo">
                    <img class="navbar-brand-sticky" src="assets/img/ls-logo-color.svg" alt="sticky brand-logo">
                </a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-inner">
                    <!--  Mobile Menu Toggler -->
                    <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <nav>
                        <ul class="navbar-nav" id="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link scroll" href="#aboutus">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="#connect">Connect</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
</template>

<script>
export default {
    
}
</script>

<style>

</style>