<template>
    <section  id="processindividual" class="branding-area ptb_100 bg-gray">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2>The Process</h2>
                            <p class="d-none d-sm-block mt-4">As we begin our partnership together, we will start by discovering what your goals are - both critical and aspirational. Next, we will analyze your current financial situation and learn more about your investment experience.  We will construct an investment plan aimed to bolster the financial future for you and your loved ones. Once that plan is in motion, we work to educate you on how to continually advance toward your financial goals. As we consistently review the plan toward achieving your goals, we will adjust to manage risk. This level of partnership will have long-lasting positive effects towards improving financial health.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- Branding Slider -->
                    <div>
                        <img src="assets/img/process-graphic-individual.png" alt="Process Individual">
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    
}
</script>

<style>

</style>