<template>
  <div>
    <div class="main">
      <HeaderSection />
      <FeatureSection />
      <FooterSection />
    </div>
  </div>
</template>

<script>
import HeaderSection from '../components/HeaderSection/headerAudience'
import FeatureSection from '../components/FeatureSection/featureAudience'
import FooterSection from '../components/FooterSection/footerLodestar'

export default {
  name: 'ThemeAudience',
  components: {
    HeaderSection,
    FeatureSection,
    FooterSection
  }
}
</script>

<style>

</style>