<template>
  <div class="homepage-2">
    <ScrollupSection />
    <div class="main">
      <HeaderSection />
      <HeroSection/>
      <FeatureSection />
      <DiscoverSection />
      <ServiceSection />
      <WorkSection />
      <ScreenshotSection />
      <ReviewSection />
      <PricingSection />
      <FaqSection />
      <DownloadSection />
      <NewsletterSection />
      <ContactSection />
      <FooterSection />
    </div>
  </div>
</template>

<script>
import ScrollupSection from '../components/ScrollupSection/scrollUp'
import HeaderSection from '../components/HeaderSection/headerTwo'
import HeroSection from '../components/HeroSection/heroTwo'
import FeatureSection from '../components/FeatureSection/featureTwo'
import DiscoverSection from '../components/DiscoverSection/discoverTwo'
import ServiceSection from '../components/ServiceSection/serviceTwo'
import WorkSection from '../components/WorkSection/work'
import ScreenshotSection from '../components/ScreenshotSection/screenshotTwo'
import ReviewSection from '../components/ReviewSection/reviewTwo'
import PricingSection from '../components/PricingSection/pricingOne'
import FaqSection from '../components/FaqSection/faqTwo'
import DownloadSection from '../components/DownloadSection/download'
import NewsletterSection from '../components/NewsletterSection/newsletter'
import ContactSection from '../components/ContactSection/contactOne'
import FooterSection from '../components/FooterSection/footerOne'

export default {
  name: 'ThemeTwo',
  components: {
    ScrollupSection,
    HeaderSection,
    HeroSection,
    FeatureSection,
    DiscoverSection,
    ServiceSection,
    WorkSection,
    ScreenshotSection,
    ReviewSection,
    PricingSection,
    FaqSection,
    DownloadSection,
    NewsletterSection,
    ContactSection,
    FooterSection
  }
}
</script>

<style>

</style>