<template>
  <div>
    <div class="main">
      <HeaderSection />
      <FeatureLanding />
      <FooterSection />
    </div>
  </div>
</template>

<script>
import HeaderSection from '../components/HeaderSection/headerIndividual'
import FeatureLanding from '../components/FeatureSection/featureLanding'
import FooterSection from '../components/FooterSection/footerOne'

export default {
  name: 'ThemeLanding',
  components: {
    HeaderSection,
    FeatureLanding,
    FooterSection
  }
}
</script>

<style>

</style>