<template>
  <div class="homepage-individual">
    <ScrollupSection />
    <div class="main">
      <HeaderSection />
      <HeroSection />
      <FeatureCompare />
      <ProcessSection />
      <ServiceIndividual />
      <FeatureCustomers />
      <ContactSection />
      <FooterSection />
    </div>
  </div>
</template>

<script>
import ScrollupSection from '../components/ScrollupSection/scrollUp'
import HeaderSection from '../components/HeaderSection/headerIndividual'
import HeroSection from '../components/HeroSection/heroIndividual'
import FeatureCompare from '../components/FeatureSection/featureCompareApproach'
import ProcessSection from '../components/ProcessSection/processIndividual'
import ServiceIndividual from '../components/ServiceSection/serviceIndividual'
import FeatureCustomers from '../components/FeatureSection/featureCustomers'
import ContactSection from '../components/ContactSection/contactLode'
import FooterSection from '../components/FooterSection/footerLodestar'

export default {
  name: 'ThemeIndividual',
  components: {
    ScrollupSection,
    HeaderSection,
    HeroSection,
    FeatureCompare,
    ProcessSection,
    ServiceIndividual,
    FeatureCustomers,
    ContactSection,
    FooterSection
  }
}
</script>

<style>

</style>