<template>
  <div class="homepage-corporate">
    <ScrollupSection />
    <div class="main">
      <HeaderSection />
      <HeroSection />
      <FeatureCompare />
      <ProcessSection />
      <ServiceIndividual />
      <ContactSection />
      <FooterSection />
    </div>
  </div>
</template>

<script>
import ScrollupSection from '../components/ScrollupSection/scrollUp'
import HeaderSection from '../components/HeaderSection/headerCorporate'
import HeroSection from '../components/HeroSection/heroCorporate'
import ProcessSection from '../components/ProcessSection/processIndividual'
import ServiceIndividual from '../components/ServiceSection/serviceIndividual'
import FeatureCompare from '../components/FeatureSection/featureCompareApproach'
import ContactSection from '../components/ContactSection/contactOne'
import FooterSection from '../components/FooterSection/footerOne'

export default {
  name: 'ThemeCorporate',
  components: {
    ScrollupSection,
    HeaderSection,
    HeroSection,
    ProcessSection,
    ServiceIndividual,
    FeatureCompare,
    ContactSection,
    FooterSection
  }
}
</script>

<style>

</style>