    /*
    Flaticon icon font: Flaticon
    Creation date: 13/09/2020 03:09
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-strategy:before { content: "\f100"; }
.flaticon-consultation:before { content: "\f101"; }
.flaticon-economic:before { content: "\f102"; }
.flaticon-heart:before { content: "\f103"; }
.flaticon-goal:before { content: "\f104"; }
.flaticon-bank:before { content: "\f105"; }
    
    $font-Flaticon-strategy: "\f100";
    $font-Flaticon-consultation: "\f101";
    $font-Flaticon-economic: "\f102";
    $font-Flaticon-heart: "\f103";
    $font-Flaticon-goal: "\f104";
    $font-Flaticon-bank: "\f105";