<template>
    <section id="pricing" class="section price-plan-area bg-gray overflow-hidden ptb_100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-lg-10">
                        <div class="row price-plan-wrapper">
                            <div class="col-12 col-md-6 s-home-audiences">
                                <!-- Single Price Plan -->
                                <a href="http://example.com">
                                <div class="single-price-plan text-center p-5 wow fadeInLeft s-grid audience-individual align-middle" data-aos-duration="2s" data-wow-delay="0.4s">
                                    <!-- Plan Thumb -->
                                    <!-- Plan Title -->
                                    <div class="audience-title my-2 my-sm-3">
                                        <h3>I'm an Individual</h3>
                                    </div>
                                    <!-- Plan Price -->
                                    <!-- Plan Description -->
                                    <div class="audience-description">
                                        <p>Looking to access my account or interested in personalized financial planning.</p>
                                    </div>
                                    <!-- Plan Button -->
                                    <div class="plan-button">
                                        <a href="#" class="btn mt-4">Learn More</a>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="col-12 col-md-6 s-home-audiences">
                                <!-- Single Price Plan -->
                                <a href="http://example.com">
                                <div class="single-price-plan text-center p-5 wow fadeInLeft s-grid audience-corp align-middle" data-aos-duration="2s" data-wow-delay="0.4s">
                                    <!-- Plan Thumb -->
                                    <!-- Plan Title -->
                                    <div class="audience-title my-2 my-sm-3">
                                        <h3>I'm a Corporation</h3>
                                    </div>
                                    <!-- Plan Price -->
                                    <!-- Plan Description -->
                                    <div class="audience-description">
                                        <p>Looking to offer retirement, health care and financial wellness solutions to my employees.</p>
                                    </div>
                                    <!-- Plan Button -->
                                    <div class="plan-button">
                                        <a href="#" class="btn mt-4">Learn More</a>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    
}
</script>

<style>

</style>