<template>
    <section class="section service-area bg-inherit overflow-hidden ptb_100">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-lg-6 order-2 order-lg-1">
                        <!-- Service Text -->
                        <div class="service-text pt-4 pt-lg-0 px-0 px-lg-4">
                            <h2 class="text-capitalize mb-4">Client Experience</h2>
                            <!-- Service List -->
                            <ul class="service-list style-two">
                                <!-- Single Service -->
                                <li class="single-service py-2">
                                    <div class="service-text">
                                        <p>Private consultation to understand your goals, investment experience & current financial picture</p>
                                    </div>
                                </li>
                                <!-- Single Service -->
                                <li class="single-service py-2">
                                    <div class="service-text">
                                        <p>An analysis of your current financial picture using proprietary Goals-Based Technology</p>
                                    </div>
                                </li>
                                <!-- Single Service -->
                                <li class="single-service py-2">
                                    <div class="service-text">
                                        <p>Tailored investment strategy and investment policy statement set in conjunction with your financial goals.</p>
                                    </div>
                                </li>
                                <!-- Single Service -->
                                <li class="single-service py-2">
                                    <div class="service-text">
                                        <p>On-going portfolio management and consistent Client Communication to keep track of your progress</p>
                                    </div>
                                </li>
                                <li class="single-service py-2">
                                    <div class="service-text">
                                        <p>Online account access, market research, MoneyLink, BillPay(R) and HighYield Checking through Charles Schwab1</p>
                                    </div>
                                </li>
                            </ul>
                            <!-- <a href="#" class="btn btn-bordered mt-4">Learn More</a> -->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 order-1 order-lg-2 d-none d-md-block">
                        <!-- Service Thumb -->
                        <div class="service-thumb mx-auto">
                            <img src="assets/img/feature-clients.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    
}
</script>

<style>

</style>