<template>
    <section id="features" class="section features-area style-two overflow-hidden ptb_100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-7">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2>Our Guiding Principles</h2>
                            <p class="d-none d-sm-block mt-4">Intro blurb here about our core offerings...Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s">
                            <!-- Featured Icon -->
                            <div class="services-icon mb-3">
                                 <img src="assets/img/services-planning.svg" alt="plan consulting">
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Plan Design / Consulting</h3>
                                <p>Our retirement plan design and consulting process positions us to be the partner you need to build a genuinely holistic financial health solution that benefits both your company and your employees.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                            <!-- Featured Icon -->
                            <div class="services-icon mb-3">
                                 <img src="assets/img/services-investment.svg" alt="plan consulting">
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Investment Advisory</h3>
                                <p>Our investment process is best described in one phrase: goals-based. Growing complexity in the financial market has introduced new variables to portfolio construction and investment selection.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                            <!-- Featured Icon -->
                            <div class="services-icon mb-3">
                                 <img src="assets/img/services-education.svg" alt="plan consulting">
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Financial Health Education</h3>
                                <p>Healthcare and investing are complicated topics. Many investors are often stuck at the first step: where to invest the first dollar.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                            <!-- Featured Icon -->
                            <div class="services-icon mb-3">
                                 <img src="assets/img/services-hsa.svg" alt="plan consulting">
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Health Savings Accounts</h3>
                                <p>A core tenet of our consulting process is the need to evolve benefit planning. HSAs are a unique savings vehicle. Underutilized and often misunderstood, HSAs can bridge the savings gap for your firm.</p>
                            </div>
                        </div>
                    </div>
                        <div class="col-12 text-center">
                            <a href="#" class="btn btn-bordered mt-4">Learn More</a>
                        </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    
}
</script>

<style>

</style>