<template>
    <section id="servicesindividual" class="section features-area style-two overflow-hidden ptb_100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-7">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2>Goals-Based</h2>
                            <p class="d-none d-sm-block mt-4">Goals-Based centers the portfolio construction around you and more specifically your goals for your money.  In this framework, “Risk” is defined as the probability of not attaining your life goals, not a market variable out of our or your control.</p>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s">
                            <!-- Featured Icon -->
                            <div class="featured-icon mb-3">
                                <span class="flaticon-strategy"></span>
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Goals-Based Planning</h3>
                                <p>Our team will partner with you to tailor a goals-based plan specific to your needs. We focus on understanding your objectives and implementing global asset allocations aimed at achieving your financial goals.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                            <!-- Featured Icon -->
                            <div class="featured-icon mb-3">
                                <span class="flaticon-consultation"></span>
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Risk Management Consulting & Financial Ed</h3>
                                <p>Need assistance on mitigating risk, creating an emergency fund, how to approach insurance concerns.  We deliver actionable ideas through multiple communication platforms backed by data to strengthen your financial future.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                            <!-- Featured Icon -->
                            <div class="featured-icon mb-3">
                                <span class="flaticon-economic"></span>
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Investment Advisory</h3>
                                <p>We provide an array of investment advisory services for all types of individuals adhering to a strict fiduciary code. Our portfolio construction process is centered on a durable, goals-based methodology.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <!-- Icon Box -->
                        <div class="icon-box text-center p-4 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                            <!-- Featured Icon -->
                            <div class="featured-icon mb-3">
                                <span class="flaticon-heart"></span>
                            </div>
                            <!-- Icon Text -->
                            <div class="icon-text">
                                <h3 class="mb-2">Health Savings Accounts</h3>
                                <p>Underutilized and often misunderstood, HSAs can bridge the savings gap for your family. Our innovative consulting process will help reframe the HSA conversation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    
}
</script>

<style>

</style>